<form [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input type="text" matInput placeholder="Your email" formControlName="email">
    <!--<mat-error>Email is required</mat-error>-->
    <mat-error *ngIf="loginForm.get('email').hasError('required')">Email is required</mat-error>
    <mat-error *ngIf="!loginForm.get('email').valid && loginForm.get('email').value">Email is invalid</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput placeholder="Your password" formControlName="password">
    <mat-error *ngIf="!loginForm.get('password').valid">Password is invalid</mat-error>
  </mat-form-field>
  <button type="submit" *ngIf="!(isLoading$ | async)" mat-raised-button color="primary" [disabled]="!loginForm.valid">Submit</button>
  <mat-spinner *ngIf="isLoading$ | async "></mat-spinner>
</form>
